@font-face {
  font-family: 'LubalinGraphStd-Medium';
  src: url('/LubalinGraphStd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.p-datatable-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03234b ;
}

* {
  color: #03234b;
  font-family: 'LubalinGraphStd-Medium' !important;
}

body,
html {
  font-family: 'LubalinGraphStd-Medium' !important;
  margin: 0;
  background-color: #e3e3e3 ;

}

.p-column-filter-menu-button {
  color: #ffd200 !important;
  transition: all .3s ease;
}

.status-text.connected {
  color: green !important;
}

.status-text.disconnected {
  color: red !important;
}
.status-text.unlocked {
  color: green;
}

.status-text.locked {
  color: red;
}
.status-text {
  font-weight: bold;
}

.p-column-filter-menu-button:hover {
  background-color: #ffd200;
}

.p-inputtext:enabled:hover {
  border-color: #ffd200 !important;
}

.p-inputtext:enabled:focus {
  border-color: #ffd200;
  box-shadow: none;
}